
body {
	font-size: rem-calc($base-font-size);
	line-height: rem-calc($base-line-height);
	color: $blue-gray;
	overflow-x: hidden;
}

a {
	transition: all 0.2s;
}


// Home-Section
// - - - - - - - - - - - - - - - - - - - - - - - - -
//
.main {
	position: relative;		
	background: url('../images/bitmap.jpg') no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;			
	height: 100%;	
	.container {
		@include grid-row();		
		h2 {					
			font-family: $alt-font-family;
			font-weight: regular;
			line-height: 1.35;
			font-size: 40px;
			margin:auto;
			text-align: center;
			color:$white !important;
			opacity: 1;
			z-index: 1;			
			position: relative;
			@include  breakpoint(xs-small only) {
				font-size: 24px;
				padding-left: 10px;
				padding-right: 10px;
				line-height: 1;	
				margin-top: 0px;
				margin-bottom: 10px;
			}
			@include  breakpoint(small only) {
				font-size: 27px;
				padding-left: 10px;
				padding-right: 10px;
				line-height: 1;	
				margin-top: 0px;
				margin-bottom: 10px;
			}
		}
		
	}
	@include breakpoint(small only) {
      width: 100%;
      float: none;

    }
	
	@include breakpoint(xs-small only) {
		margin-bottom: 0;
		padding-bottom: 0px;
	}
	@include breakpoint(small only) {
		margin-bottom: 0;
		padding-bottom: 0px;
	}
	.home-forms {		
		margin-top: 95px;
		display: flex;
		@include grid-row();
		@include breakpoint(xs-small only) {
			padding-left: 10px;
			padding-right: 10px;
			display: flex;
			flex-direction:column;
			max-width: 100%; 
			margin-bottom: 20px;
			
		}
		@include breakpoint(small only) {
			padding-left: 10px;
			padding-right: 10px;
			display: flex;
			flex-direction:column;
			max-width: 100%; 
			margin-bottom: 20px;
			display: block !important;
		}
		@include breakpoint(medium only) {
			padding-left: 10px;
			padding-right: 10px;
			display: flex;			
			width: 100%; 
			margin-bottom: 20px;
		}
		@include breakpoint(large only) {
			padding-right:10px;
			padding-left:10px;
		}
	}
	@include breakpoint(xs-small only) {
		padding-bottom: 0px;
		background-size:cover !important;
		overflow: hidden;
		position: fixed;
		
	}
	@include breakpoint(small only) {
		padding-bottom: 0px;
		overflow: hidden;
		// position: fixed;		
	}
	@include breakpoint(medium only) {
		padding-bottom: 0px;
		overflow: hidden;
	}
	@include breakpoint(large only) {
		padding-bottom: 250px;		
		height: auto;
		overflow: hidden;
	}
	@include breakpoint(xlarge only) {
		padding-bottom: 300px;		
		height: auto;
	}
	@include breakpoint(xxlarge only) {
		padding-bottom: 321px;		
		height: auto;
	}
	@include breakpoint(desktop only) {
		padding-bottom: 350px;

		height: auto;
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #1c2143;
		opacity: 0.65;		
	}
}	
// Dashboard Resevation
// - - - - - - - - - - - - - - - - - - - - - - - - -
//
.calendar-and-managment-section {
	display:flex;
	height: 100%;
	@include breakpoint(xs-small only) {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column; 
		
	}
	@include breakpoint(small only) {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column; 
	}
	@include breakpoint(medium only) {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column; 
	}	
	@include breakpoint(macbook only) {
		
  	}
	@include breakpoint(Imac only) {
		height: 100%;
	}		
}