.header-with-result {
	background-color: rgb(127, 152, 246);
	box-shadow: 0 2px 4px 0 rgb(186, 186, 211);	
	margin-bottom: 40px;
	.header-result {
		@include grid-row();
 		padding-bottom: 30px;
		z-index: 1;	
		.home-forms {
			display: flex;
		}
		.header-padding {
			padding-top:30px;

			.logo-section {
				display: flex;
				float: left;
				img {
					z-index: 1;
					@include breakpoint(xs-small only) {
						width: 32px;
						height: 30px;
						margin-top: 0px;
					}
					@include breakpoint(small only) {
						width: 32px;
						height: 30px;
					}
				}
				a {
					z-index: 1;
					display: flex;	
					color: $white !important;		
					h2 {
						margin-top: 0px;
						margin-left: 10px;
						font-size: 29px;
						font-weight: 500;
						font-family: $font-family;
						@include breakpoint(xs-small only) {
							font-size: 20px;
							margin-left: 5px;
							margin-top: 5px;
						}
						@include breakpoint(small only) {
							font-size: 20px;
							margin-left: 5px;
							margin-top: 5px;
						}
					}
				}
				
			}
					
		}
		 border-bottom: solid 1px rgba(255, 255, 255,0.3);			
		 @include breakpoint(xs-small only) {
			padding-left: 0px;
			padding-right: 0px;
			width: 95%;
			margin: auto;
		}
	}		
	.home-forms {
		margin-top: 27px;
		padding-bottom: 29px;
		display: flex;
		@include grid-row();
		.open-search {
			background:#5b74d6;
			background-image: url('../images/search.svg');
			background-repeat: no-repeat;
			background-position: center;
			@include breakpoint(xs-small only) {
				width: 100%;		
			}
			@include breakpoint(small only) {
				width: 100%;		
			}
			@include breakpoint(medium only) {
				width: 100%;		
			}

		}
		@include breakpoint(xs-small only) {
			padding-left: 10px;
			padding-right: 10px;
			display: flex;
			flex-direction:column;
			max-width: 100%; 
			margin-bottom: 0px;
		}
		@include breakpoint(small only) {
			padding-left: 0px;
			padding-right: 0px;
			 
			max-width: 100%; 
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
		@include breakpoint(medium only) {
			padding-left: 10px;
			padding-right: 10px;
			display: flex;
			flex-direction:column;
			max-width: 100%; 
			margin-bottom: 20px;
		}
		@include breakpoint(large only) {
			padding-right:10px;
			padding-left:10px;
		}	

	}
	.modal-s {
		padding-bottom: 0px !important;
		margin-top: 50px;
	}
	@include breakpoint (xs-small only ) {
		margin-bottom: 100px;
		align-items: center;
		justify-content: center;
		padding-bottom: 0px;
	}	
	@include breakpoint (small only) {
		padding-left: 10px;
		padding-right: 10px;

	}
	@include breakpoint (medium only) {
		padding-left: 20px;
		padding-right: 20px;
	}
	@include breakpoint (large only) {
		padding-left: 20px;
		padding-right: 20px;
	}	
}