.info {
	background: $white;
	.container {
		padding-top: 26px;
		padding-bottom: 26px;
		@include grid-row();
		border-bottom: 1px solid #eaeaea; 
		display: flex;		
		@include breakpoint(xs-small only) {
			padding-bottom: 0px;

		}
		@include breakpoint(small only) {
			padding-bottom: 0px;
			
		}
		.text-info {				
			h3 {
				color: #0a184a;
				font-family: $alt-font-family;
				font-weight: 500;
				margin-bottom: 20px;
				font-size: 30px;
				
				@include breakpoint(small only) {
					width: 100%;
				}
				@include breakpoint(medium only) {
					
				}
			}
			.user-info {																
				.admin-info {
					font-family: $alt-font-family;
					font-weight:500;
					margin-left:10px;
					
					line-height: 0px;
					color: #4a4a4a;
					font-size: 14px;	
					vertical-align: none;
					img {
						display: flex;
						vertical-align: none !important;
					}
				}
			}
			@include breakpoint(xs-small only) {
				float: none;
				margin-bottom: 40px;
				h3 {
					margin-left: 20px;

				}
				.user-info {
					margin-left: 20px;
				}			
			}	
			@include breakpoint(small only) {
				float: none;
				margin-bottom: 40px;
				h3 {
					margin-left: 20px;
				}
				.user-info {
					margin-left: 20px;
				}
			}
			@include breakpoint(medium only) {
				h3 {
					margin-left: 10px;					
				}
				.user-info {
					margin-left: 10px;
				}
				margin-bottom: 40px;
				display: flex;
				flex-direction: column;
			}
		}
		.info-stuf {
			display: flex;
			margin-left: auto;
			text-align: left;
			margin-top: 12px;
			.each-stuf {
				padding-left: 80px;
				.const-icon {
					img {
						float: left;											
						@include breakpoint(small only) {
							float: none;
							display: flex;
							flex-direction: column;
							margin-bottom: 7px;
							vertical-align: middle;
							margin-left: 20px;
							width: 34px;
							height: 34px;						
						}
						@include breakpoint(medium only) {
							float: none;
							display: flex;
							flex-direction: column;
							margin: auto;
							margin-bottom: 10px;
							width: 34px;
							height: 34px;
						}

					}
					span {
						font-family: $font-family;
						color: #0a184a;
						font-size: 16px;
						font-weight: 500;
						padding-left: 19px;
						margin-top: 100px;
						line-height: 25px;
						@include breakpoint(small only) {
							padding-left: 0px;
							font-size: 12px;
							text-align: center;
						}
						@include breakpoint(medium only) {
							padding-left: 0px;
							font-size: 12px;
							text-align: center;
						}
					}
					@include breakpoint(small only) {
						padding-right: 0px;
					}	
					@include breakpoint(medium only) {
						padding-right:30px;
					}
				}
				@include breakpoint(xs-small only) {
					padding-left: 20px;
					margin-bottom: 40px;
				}
				@include breakpoint(small only) {
					padding-left: 0px;					
					flex:3 0 auto;
					margin-bottom: 40px;
					align-items:center;
				}
				@include breakpoint(medium only) {
					padding-left: 0px;
					display: flex;
					flex-direction: column;
					align-items:center;

				}
				@include breakpoint(large only) {
					padding-left: 20px;
					padding-right: 30px;
				}
			}
			.transport-icon {
						
				img {
					float: left;
					margin-top:10px;
					@include breakpoint(small only) {
						float: none;
						display: flex;
						flex-direction: column;
						margin-bottom: 3px;
						vertical-align: middle;
						margin-top: 0px;
						width: 42px;
						height: 24px;						
					}
					@include breakpoint(medium only) {
						float: none;
						display: flex;
						flex-direction: column;
						margin-bottom: 3px;
						align-items:center;
						margin-top: 5px;
						width: 42px;
						height: 24px;
					}
				}
				span {
					font-family: $font-family;
					color: #0a184a;
					font-size: 16px;
					font-weight: 500;
					padding-left: 19px;
					margin-top: 90px;
					line-height: 50px;
					@include breakpoint(small only) {
						line-height: 55px;
						padding-left: 0px;
						text-align: center;
						font-size: 12px;
					}
					@include breakpoint(medium only) {
						padding-left: 0px;
						font-size: 12px;
						text-align: center;
						line-height: 48px;
					}
				}
				@include breakpoint(small only) {
					padding-left: 30px;
					padding-right: 30px;
				}			
				@include breakpoint(medium only) {
					padding-left: 20px;
					padding-right: 40px;
				}
			}
			.gloves-icon {
				img {
					float: left;
					@include breakpoint(small only) {
						float: none;
						display: flex;
						flex-direction: column;
						
						width: 38px;
						height: 39px;
						align-items:center;
						
					}
					@include breakpoint(medium only) {
						float: none;
						display: flex;
						flex-direction: column;
						margin-bottom: 3px;
						align-items:center;
						margin-top: 0px;
						width: 38px;
						height: 39px;
					}
				}
				span {
					font-family: $font-family;
					color: #0a184a;
					font-size: 16px;
					font-weight: 500;
					padding-left: 19px;
					margin-top: 100px;
					line-height: 30px;
					@include breakpoint(small only) {
						
						padding-left: 0px;
						text-align: center;
						font-size: 12px;

					}
					@include breakpoint(medium only) {
						padding-left: 0px;
						font-size: 13px;
						text-align: center;
					}
				}
				@include breakpoint(small only) {
					padding-left: 0px;
				}	
			}
			@include breakpoint(xs-small only) {
				display: flex;
				flex-direction: column;
				padding-left: 0px;
				margin: 0px;
			}
			@include breakpoint(small only) {
				display: flex;
				flex-direction: flex;
				margin: 0px;
				align-items: flex-start;
				padding-left: 20px;

			}
			@include breakpoint(medium only) {
				display: flex;
				flex-direction: flex;
				ms-grid-column: 0px;
				padding-right: 30px;
				float: right;
			}
		}
		@include breakpoint(xs-small only ) {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
		}	
		@include breakpoint(small only) {
			display: flex;
			flex-direction: column;
			width: 88%;
			margin-left: 0px;
		}
		@include breakpoint(medium only) {
			display: flex;
			flex-direction: flex;
		}
	}	  
}