.modal-s {
    background: url('../images/search-2.svg') no-repeat 10px 13px #fefefe;
    background-color:#fefefe;
    color: #4a4a4a;
    @include  grid-row();
    z-index: 99;
    color: #4a4a4a !important;
    font-family: $alt-font-family;
    font-size: 16px;
    font-weight: 400; 
    box-shadow:none;
    display: none;
    position: relative;  
    border:none !important;
    width: 100%;
    @include breakpoint(xs-small only) {
      position: relative;
      top: -100px;
      width: 100%;
      z-index: 99 !important;
      display: block;
    }
    @include breakpoint(small only) {
      position: relative;
      top: -100px;
      width: 100%;
      z-index: 99 !important;
      display: block;
      padding-left: 20px;
      padding-right: 20px;
      border:none !important;
    }
    @include breakpoint(medium only) {
      position: relative;
      top: 0px;
      width: 95%;
      z-index: 99 !important;
      display: block;
    }
    #search input[type="text"] {
      position: relative;
      width: 33.333333%;
      float: left; 
      background-color:transparent;
      color: black;
      // background-image: url('../images/dot.svg');   
      // background-position:50px;    
      // background-size: 5px 5px !important;
      margin: 0px;      
      padding-left: 0px;
      // border:1px solid #fefefe !important;
    @include  breakpoint(small) {
      border:none !important;
      box-shadow:none !important; 
      color: #4a4a4a !important;
      width: 33.33333333%;
      padding-left: 20px;
      padding-right: 0px;
    }
    @include  breakpoint(xs-small) {
      border:none !important;
      box-shadow:none !important; 
      color: #4a4a4a !important;
      width: 33.33333333%;
      padding-left: 40px;
      padding-right: 0px;
    }  
     &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-family: $alt-font-family;
      font-size: 16px;
      font-weight: 400; 
      opacity:1 !important;
      color: #4a4a4a !important;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-family: $alt-font-family;
      font-size: 16px;
      font-weight: 400; 
      opacity:1 !important;
      color: #4a4a4a;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-family: $alt-font-family;
      font-size: 16px;
      font-weight: 400; 
      opacity:1 !important;
      color: #4a4a4a;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-family: $alt-font-family;
      font-size: 16px;
      font-weight: 400; 
      opacity:1 !important;
      color: #4a4a4a;
    }
    &:before {
        position: absolute;
        content:'/';
        top: 0px;
        left:0px;
        border:1px solid black;
        color: black;
        border-radius:50px;
        height: 20px;
        width: 20px;
    }
  }
  .first-input-modal {
    width: 40%;
    position: relative;
    background-image: none;  
    @include breakpoint(xs-small only) {
      width: 40% !important;
    }
  }
  .second-input-modal {
    width: 20% !important;
    position: relative;
      background-image: url('../images/dot.svg');   
      background-position:5px;    
      background-size: 5px 5px !important;
    z-index: 100;
    @include breakpoint(xs-small only) {
      background-position:20px;
      width: 25% !important;
    }

  }
  .third-input-modal {
    width: 20% !important;
    background-image: url('../images/dot.svg');   
      background-position:5px;    
      background-size: 5px 5px !important;
      @include breakpoint(xs-small only) {
        width: 25% !important;
      }
  }
  @include breakpoint(small only) {
    border:none !important;
    width: 95% !important;
  }
  @include breakpoint(xs-small only) {
    border:none !important;
    width: 95% !important;
  }
}