.open-search {				
	z-index: 1;			
	background: #7f98f6;				
	margin: 0;				
	padding: 10px 80px;
	text-indent: -9999px;
	background-image: url('../images/search.svg');
	background-repeat: no-repeat;
	background-position: center;
	border:none;
	@include breakpoint(xs-small only) {  
		margin-top: 15px;  	   
	    margin-bottom: 15px;
	    text-align: center;
	    margin:auto;
	    width: 100%;
	    opacity:0;
	}  
	@include breakpoint(small only) {
		width: 100% !important;
		opacity:0;
	}	
	@include breakpoint(medium only) {
		width: 100%;
		padding: 0px;
		opacity:0;
	}
	input {
		z-index: 1;
	}
}

