
.fields {
  margin-left:auto;
  padding: 0px;
  clear: both;
  input[type="file"] {    
    display: block;
    opacity: 0;
    display: none;
  }
  .upload-field {
    float: left;
    .custom-file-upload {           
      margin-top: 10px;
      margin-bottom: 30px;
      float: right;
      border: none;              
      cursor: pointer;
      padding: 20px 30px;
      margin-top:10px;
      margin-left: 0px;
      margin-right: 0px;
      background-color: rgb(127, 152, 246);
      color: $white;
      text-align: center;
      span {
        margin-top: 120px;
      }
      i {
        margin-bottom: 0px;
        margin-top: 10px;
        display: block;
        text-align: center;
        font-size: 25px;
      }   
    
      @include breakpoint(xs-small only) {      
        width: 100%;
        float: right;
      }
    }
    width: 100%;    
  }
  .imageThumb {
    position: relative;    
    margin-right: 0px;
    margin-left: 0px;
    border:transparent;
    padding: 1px;
    cursor: pointer;   
    width: 130px;
    height: 100px;    
    @include breakpoint(xs-small only) {
      width: 100%;
      margin-bottom: 0px;
    }
    @include breakpoint(small only) {
      width: 100%;
      float: left;
    }
    img:last-child {
      margin-bottom: 40px;
    }
  }
  .pip {
    display: inline-block;
    margin: 10px 10px 0 0;
    position: relative;
    @include breakpoint(xs-small only) {
      margin-bottom: 0px;
    }
    img:last-of-type {
      margin-bottom: 5px;
    }
  }
  .remove {
    
    border-radius:50px;
    width: 22px;
    height: 22px;
    object-fit: contain;
    background-color: rgb(182, 184, 189);
    box-shadow: 0 0 4px 0 rgb(155, 155, 155);
    border: solid 2px rgb(255, 255, 255);        
    color: white;
    cursor: pointer;
    position: absolute;
    right:-4px;
    top: -10px;
    &:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f00d";
    left: 4px;
    right: 4px;
    top: -1px;
    font-size: 13px;
    }    
  }
 @include breakpoint(small only) {
  margin-bottom: 20px;
 }
}

#main-product-image {
  width: 100%;
  height: 300px;
}